html {
  --mdc-theme-primary: var(--primary-color, #e63946);
  --mdc-theme-secondary: var(--primary-color-darker, #cee5f6);
  --primary-color: #388e3c;
  --primary-color-lighter: #388e3c;
  --primary-color-darker: #388e3c;
  --primary-color-accent: #03a9f4;
  --primary-text-color: #2c3e50;
  --primary-lines-color: #ccc;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: white;
  --footer-background: rgba(0, 0, 0, 0.1);

  --text-color: black;
}

html.dark {
  --primary-color: #388e3c;
  --primary-color-lighter: #03a9f4;
  --primary-color-darker: #a22831;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #eee;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: #333;
  --footer-background: #4f4f4f;

  --text-color: white;

  --markdown-octicon-link: white;
  --markdown-syntax-background-color: #a0a0a0;
  --markdown-link-color: #fb7881;
  --markdown-blockquote-color: #c9e3ff;
}

@media screen and (min-width: 1024px) {
  .content-area {
    max-width: 1900px !important;
  }
}

.page-logo {
  max-width: 570px !important;
}

.logo-link img {
  width: 75px !important;
  height: 50px !important;
}
